<!-- <h4>Counter in Counter Comp : {{ getCounter() }}</h4>
<button (click)="increase()"
  class="btn btn-success btn-sm">Increase in Counter</button> -->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-header">
          <h5 class="text-center">Counter : {{ counter }}</h5>
        </div>
        <div class="card-body">
          <div class="btn-group" role="group">
            <button class="btn btn-primary btn-sm"
              (click)="onIncrease()">Increase</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
