<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Login Form</h4>
        </div>
        <div class="card-body">
          <form #f = "ngForm">
            <!-- Username -->
            <div class="form-group">
              <label for="username">Username : </label>
              <input type="email"
                name="username"
                class="form-control"
                ngModel
                required
                email>
            </div>
            <!-- Password -->
            <div class="form-group">
              <label for="password">Password :</label>
              <input type="password"
                name="password"
                class="form-control"
                ngModel
                required
                minlength="6">
            </div>
            <!-- Button -->
            <div class="row">
              <div class="col-6">
                <button
                  [disabled]="!f.valid"
                  class="btn btn-success btn-block"
                  (click) = "onLogin(f)">Login</button>
              </div>
              <div class="col-6">
                <button
                  (click)="onReset(f)"
                  class="btn btn-danger btn-block">Reset</button>
              </div>
            </div>

            <!-- form state : {{ f.valid }} -->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

