.ng-invalid.ng-dirty[name="username"]{
  border-bottom: 4px tomato solid;
}
.ng-valid.ng-dirty[name="username"]{
  border-bottom: 4px greenyellow solid;
}
.ng-invalid.ng-dirty[name="password"]{
  border-bottom: 4px tomato solid;
}
.ng-valid.ng-dirty[name="password"]{
  border-bottom: 4px greenyellow solid;
}
