<div class="container">
<h3>Hello Angular!!</h3>
<!--
<h4>Counter in App Comp : {{ getCounter() }}</h4>
<button (click)="increase()"
  class="btn btn-primary btn-sm">Increase</button>

<app-counter></app-counter> -->


<!-- <app-observable-demo></app-observable-demo> -->


</div>



<!-- <app-register></app-register> -->

<app-login></app-login>

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-directive-demo></app-directive-demo> -->

<app-users *ngIf = "isAuthenticated()"></app-users>

<!-- <app-todos></app-todos> -->
